#box1{
    border: 1px solid;
    height: px;
    width: 300px;
    background-color:rgb(64, 23, 198);

    position:fixed;

    top: 50px;
    left: 50px;

}

#box2{
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: tomato;
}